<div class="safe-area">
    <div class="title">
        <h1>¡Welcome back!</h1>
        <p>Log in and make things happen today. Your dashboard is waiting for you.</p>
    </div>
    <img src="loginanimation.jpg" alt="">

    <form class="styled-form">
        <app-input icon="mail" type="text" placeholder="Email" ></app-input>
        <app-input icon="lock" type="password" placeholder="Password"></app-input>
    </form>
    <p>forgot password?</p>

    <button>Login</button>

    <div class="divider">
        <span></span>
        <p>or</p>
        <span></span>
    </div>
    
    <p class="signup">
        need an account? <span routerLink="/auth/register">Sign Up</span>
    </p>
</div>
